.loading_container {
  display: flex;
  justify-content: left;
  flex-direction: row;
  margin: 1em;
  padding: 1em;
}

.avatar {
  width: 72px;
  height: 72px;
  border-radius: 100px;
  display: block;
  background: linear-gradient(90deg, #f3f3f6 0%, #fafafa 100%);
}
.person_description {
  display: flex;
  flex-direction: column;
  margin: 1em 1em 1em 0.5em;
}
.person_description_1 {
  width: 144px;
  height: 16px;
  background: linear-gradient(90deg, #f3f3f6 0%, #fafafa 100%);
  border-radius: 50px;
  margin: 0em 1em 0.5em 0em;
}

.person_description_2 {
  width: 80px;
  height: 12px;
  background: linear-gradient(90deg, #f3f3f6 0%, #fafafa 100%);
  border-radius: 50px;
}
