.person_container {
  display: grid;
  gap: 5px;
  grid-template-columns: 70px auto 60px;
  margin: 12px 10px 0 10px;
  padding: 10px 0 0 10px;
}

p {
  margin-top: 0.5em;
}
.text_black {
  color: #050510;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}
.text_gray {
  color: #97979b;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

img {
  width: 72px;
  height: 72px;
  border-radius: 100px;
  display: block;
}
.person_description {
  margin-left: 20px;
}
.birthday {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #55555c;
}
