.person_container {
  display: grid;
  gap: 5px;
  grid-template-columns: 70px auto 60px;
  margin: 12px 10px 0 10px;
  padding: 10px 0 0 10px;
}

.text_black {
  color: #050510;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}
.text_gray {
  color: #97979b;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  padding-top: 3px;
}

img {
  width: 72px;
  height: 72px;
  border-radius: 100px;
  display: block;
}
.person_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 20px;
}
.birthday {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #55555c;
}

.line_container {
  display: grid;
  gap: 5px;
  grid-template-columns: auto 70px auto;
  margin: 10px;
}
.line {
  height: 0.5px;
  margin-top: 9px;
  border: 0.5px solid #c3c3c6;
}
.year {
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  color: #c3c3c6;
}

@media (min-width: 319px) and (max-width: 768px) {
  .person_container {
    grid-template-columns: 70px auto 50px;
  }

  .birthday_container {
    align-self: center;
  }
  .birthday {
    font-size: 14px;
  }
}
