input,
button {
  font: inherit;
}
h1 {
  padding: 16px 10px 15px 8px;
}

header {
  padding: 0px 16px 0 16px;
}

.search {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 40px auto 40px;
}

.search__input {
  background-color: #f7f7f8;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 15px;
  color: #050510;
  caret-color: #6534ff;
}
::placeholder {
  color: #c3c3c6;
}
.search__icon {
  background-color: #f7f7f8;
  border: none;
  outline: none;
  padding: 8px;
}

.filter__button {
  background-color: #f7f7f8;
  border: none;
  outline: none;
  place-content: center;
  cursor: pointer;
}
