input,
button {
  font: inherit;
}
h1 {
  padding: 16px 10px 15px 8px;
}

header {
  padding: 0px 16px 0 16px;
}

.search {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 40px auto 40px;
}

.filter__button,
.search__button,
.search__input {
  background-color: #f7f7f8;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 15px;
  color: #050510;
}
::placeholder {
  color: #c3c3c6;
}
/* .search__button:focus {
  color: #050510;
} */

.filter__button,
.search__button {
  place-content: center;
  background-color: #f7f7f8;
}
.filter__button {
  cursor: pointer;
}

.search__button_active {
  background-color: #f7f7f8;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 15px;
  fill: black;
  background-color: aqua;
}
