@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", "Open Sans", sans-serif;
  background-color: #ffffff;
}

.tabs__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
  padding: 15px 10px 0 16px;
  border-bottom: 1px solid #f7f7f8;
}
.tabs__item {
  padding: 10px 10px 0 10px;
  font-weight: 500;
  font-size: 15px;
  color: #97979b;
  text-decoration: none;
}
.active {
  border-bottom: 2px solid #6534ff;
  color: #050510;
  font-weight: 600;
}
.person_link {
  text-decoration: none;
}

.modal {
  height: 100%;
  width: 100%;
  background-color: rgba(5, 5, 16, 0.16);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0, 5s;
}

.modal.active--modal {
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  padding: 20px;
  border-radius: 20px;
  background-color: #ffffff;
  width: 30%;
  height: 30%;
  transform: scale(0.5);
  transition: 0.4s all;
}
.modal__content.active--modal {
  transform: scale(1);
}

.modal__header {
  display: grid;
  gap: 10px;
  grid-template-columns: auto 10px;
  align-content: space-between;
  padding: 0 10px 25px 10px;
}
.modal__header_title {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #050510;
}

.modal__header__btn {
  width: 24px;
  height: 24px;
  place-content: center;
  cursor: pointer;
  background-color: #f7f7f8;
  border: none;
  border-radius: 100px;
}

.modal__body {
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-direction: column;
  grid-template-columns: auto 10px;
  align-content: space-between;
  color: #050510;
}

.input_item {
  border: 2px solid #6534ff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translateY(-0.075em);

  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;

  display: grid;
  place-content: center;
}

.input_item::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  border: 5px solid #6534ff;
}
.input_item:checked::before {
  transform: scale(1);
}
.input {
  display: grid;
  gap: 20px;
  grid-template-columns: 10px auto;
  align-content: space-between;
}

@media (min-width: 319px) and (max-width: 768px) {
  .modal__content {
    width: 50%;
    height: 192px;
  }
}
@media (min-width: 769px) and (max-width: 1199px) {
  .modal__content {
    width: 30%;
    height: 192px;
  }
}

@media (min-width: 1200px) {
  .modal__content {
    width: 373px;
    height: 192px;
  }
}
